.algorithm-content {
  text-align: center
}

.algorithm-content img {
  margin: 20px 0;
}

.algorithm-content p, .algorithm-content ul {
  text-align: left;
}

.flowchart {
  height: 600px;
}

.algorithm-topologies {
  width: 400px;
}

.algorithm-references {
  margin-top: 20px;
}

.algorithm-references ul {
  font-size: 14px;
}
