.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.logo {
  height: 35px;
  margin-right: 20px;
}

.App-title {
  text-align: left;
  flex: 1;
}

.App-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding-top: 64px;
}

.App-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.App-aside {
}
