.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.logo {
  height: 35px;
  margin-right: 20px;
}

.App-title {
  text-align: left;
  flex: 1;
}

.App-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding-top: 64px;
}

.App-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.App-aside {
}

.credits-imgs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}

.credits-imgs > img {
  height: 150px;
}

.credits-imgs > img:not(:last-child) {
  margin-right: 20px;
}

.credits-icons {
  font-size: 14px;
}
