.options-group:not(:first-child) {
    padding-top: 20px;
}

.options-content {
  display: flex;
  flex-direction: column;
}

.options-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reset-button {
}
