.Graphs {
  padding: 0 20px 20px;
  position: absolute;
  width: 400px;
  right: 0;
  text-align: left;
  opacity: 0.6;
}

.graphs-header {
  display: flex;
  align-items: center;
}

.graphs-title {
  flex: 1;
  color: #424242;
}

.graphs-clear-btn {
}

.axis-label {
  font-size: 12px;
}

.fitness-box {
  position: absolute;
  right: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

.fitness-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  margin-bottom: 2px;
}

.fitness-values {
  font-size: 12px;
}
