.Graphs {
  padding: 0 20px 20px;
  position: absolute;
  width: 400px;
  right: 0;
  text-align: left;
}

.graphs-header {
  display: flex;
  align-items: center;
}

.graphs-title {
  flex: 1;
  color: #424242;
}

.graphs-clear-btn {
}
